<div class="jumbotron">
	<h1>TaksBoard</h1>
	<p>
		Es una aplicación que permite organizar las tareas de la pizarrar de la metodología
		ágil SCRUM.
		Podras organizar las historias y las tareas de forma siemple, solo necesitas arratrar y soltar
		las tareas que ya estan completadas. En todo momento puedes llevar el control de los proyecto y compratirlos
		con el equipo de trabajo
	</p>
	<p>Resgistrate y disfruta de la herramienta de forma gratuita.</p>
	<p><a class="btn btn-primary btn-lg" routerLink="/register" routerLinkActive="active">Registarme</a></p>
	<p>Si ya tienes una cuenta de TaskBoard puedes <a routerLink="/register" routerLinkActive="active">iniciar sessión</a></p>
</div>